/*LOAD FONTS*/
@font-face {
	font-family: KeeponTruckin;
	src: url(/fnts/KeeponTruckin.ttf);
}

@font-face {
	font-family: Rebori;
	src: url(/fnts/Rebori.ttf);
}
/*-------*/

/*MAIN PAGE*/
body {
	background-color: rgb(226, 47, 139); /*Pink*/
}

.content {
	position: relative;
	
	max-width: 1024px;
	min-width: 1024px;
	margin: -20px auto auto auto;
	top: 10px;
	
	background-color: white;
	box-shadow: 0px 0px 20px 15px rgb(246, 215, 1); /*Yellow*/
}

h1 {
	font-family: KeeponTruckin;
	font-weight: normal;
	text-align: center;
	
	margin: 7px;
	padding: 10px;
	
	background-color: rgb(2, 169, 76); /*Green*/
	box-shadow: 6px 6px 0px rgb(7, 57, 171); /*Deep Blue*/
	color: white;
}

p {
	font-family: Rebori;
	font-size: 22px;
	margin: 20px;
	text-align: center;
}

/*-------*/

/* HEADER */
/* Header Animation */
.content .header {
	height: 300px;
	
	background-image: url("/img/headerBackground2.png"), url("/img/headerBackground.png");
	background-size: cover;
	background-repeat: repeat;
	
	animation: headeranim 5s infinite;
	animation-timing-function: linear;
	animation-direction: normal;
	
	position: relative;
}

@keyframes headeranim {
	0% {background-position: 1024px, 0px;}
	100% {background-position: -1024px, -1024px;}
}

/* Header Logo */
.content .header #logo {
	position: absolute;
    left: 60%;
	top: 5%;
	animation: logoanim 1s infinite;
}

@keyframes logoanim {
	0% {top: 5%; transform: rotate(-10deg); filter: drop-shadow(0px 0px 10px white);}
	50% {top: 10%; transform: rotate(10deg); filter: drop-shadow(0px 0px 50px white);}
	100% {top: 5%; transform: rotate(-10deg); filter: drop-shadow(0px 0px 10px white);}
}

/* Header Cooper */
.content .header #cooper {
	position: absolute;
    left: 2%;
	top: 38%;
	pointer-events: none;
	z-index: 999;
}
/*-------*/

/* SOCIAL MEDIA BUTTONS */
.content .socialbuttons {
	padding: 10px;
	background-color: rgb(246, 215, 1);
	text-align: center;
}

.socialbutton {
	transition: 0.3s;
	padding: 10px;
	text-decoration:none
}

.socialbutton:hover {
	filter: drop-shadow(4px 4px 0.5px rgb(226, 47, 139));
}

.center {
	text-align: center;
}

.nostyle {
	text-align: center;
	background-color: transparent;
	padding: 7px;
	margin: 7px;
	color: black;
	box-shadow: none;
}

/*-------*/

/*MAIN PAGE*/
.content .mainpage {
	padding: 20px;
}

.content .socialmedia {
	padding: 10px;
}

footer {
	padding: 10px;
	background-color: rgb(246, 215, 1);
	text-align: center;
}

footer p {
	margin: 5px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
}

.normalp {
	font-family: Rebori;
	font-size: 22px;
	margin: 20px;
	text-align: center;
}