body {
	background-color: rgb(226, 47, 139); /*Pink*/
}

.content {
	max-width: 1000px;
	margin: auto;
	background-color: white;
}

.content .header {
	height: 300px;
	
	background-image: url("img/headerBackground2.png"), url("img/headerBackground.png");
	background-size: cover;
	background-repeat: repeat;
	
	animation: headeranim 5s infinite;
	animation-timing-function: linear;
	animation-direction: normal;
}

@keyframes headeranim {
	0% {
		background-position: 1024px 0px, 1024px 0px;
	}
	100% {
		background-position: -1024px, 0px, 0px 0px;
	}
}