body {
	background-color: rgb(226, 47, 139); /*Pink*/
}

/*MAIN PAGE*/
.content {
	position: relative;
	
	max-width: 1024px;
	min-width: 1024px;
	margin: -20px auto auto auto;
	background-color: white;
	top: 10px;
}
/*-------*/

/* HEADER */
/* Header Animation */
.content .header {
	height: 300px;
	
	background-image: url("img/headerBackground2.png"), url("img/headerBackground.png");
	background-size: cover;
	background-repeat: repeat;
	
	animation: headeranim 5s infinite;
	animation-timing-function: linear;
	animation-direction: normal;
	
	position: relative;
}

@keyframes headeranim {
	0% {background-position: 1024px, 0px;}
	100% {background-position: -1024px, -1024px;}
}

/* Header Logo */
.content .header #logo {
	position: absolute;
    left: 60%;
	top: 5%;
	animation: logoanim 1s infinite;
}

@keyframes logoanim {
	0% {top: 5%; transform: rotate(-10deg); filter: drop-shadow(0px 0px 10px white);}
	50% {top: 10%; transform: rotate(10deg); filter: drop-shadow(0px 0px 50px white);}
	100% {top: 5%; transform: rotate(-10deg); filter: drop-shadow(0px 0px 10px white);}
}

/* Header Cooper */
.content .header #cooper {
	position: absolute;
    left: 2%;
	top: 38%;
}
/*-------*/